@model IEnumerable<QL_KhachSan.ModelDbs.Hotel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Khách sạn</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <div class="rs-select2--light rs-select2--md">
                    <select class="js-select2" name="property">
                        <option selected="selected">All Properties</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <div class="rs-select2--light rs-select2--sm">
                    <select class="js-select2" name="time">
                        <option selected="selected">Today</option>
                        <option value="">3 Days</option>
                        <option value="">1 Week</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
                <button class="au-btn-filter">
                    <i class="zmdi zmdi-filter-list"></i>filters
                </button>
            </div>
            <div class="table-data__tool-right">
                <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                    <select class="js-select2" name="type">
                        <option selected="selected">Excel</option>
                        <option value="">Xuất Excel</option>
                        <option value="">Nhập Excel</option>
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>
        </div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <label class="au-checkbox">
                                <input type="checkbox">
                                <span class="au-checkmark"></span>
                            </label>
                        </th>
                        <th>
                            Số thứ tự
                        </th>
                        <th>
                            Tên khách sạn
                        </th>
                        <th>
                            Tên chủ khách sạn
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var (item, index) in Model.Select((v, i) => (v, i)))
                    {
                        <tr class="tr-shadow">
                            <td>
                                <label class="au-checkbox">
                                    <input type="checkbox">
                                    <span class="au-checkmark"></span>
                                </label>
                            </td>
                            <td>
                                @{ int temp = index + 1;}
                                @temp
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HotelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.OwnerName)
                            </td>

                        </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
