@model QL_KhachSan.ModelDbs.Businessregistration

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Edit</h1>

<h4>Businessregistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BrId" />
            <div class="form-group">
                <label asp-for="HotelId" class="control-label"></label>
                <select asp-for="HotelId" class="form-control" asp-items="ViewBag.HotelId"></select>
                <span asp-validation-for="HotelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricelistId" class="control-label"></label>
                <select asp-for="PricelistId" class="form-control" asp-items="ViewBag.PricelistId"></select>
                <span asp-validation-for="PricelistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrStatus" class="control-label"></label>
                <input asp-for="BrStatus" class="form-control" />
                <span asp-validation-for="BrStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrDate" class="control-label"></label>
                <input asp-for="BrDate" class="form-control" />
                <span asp-validation-for="BrDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

